## Choose the suitable data format

### Simple json data (Without any nested data)

In [10]:
import json

my_details = [ {'_id':'5dfce556e62bedc59e5a69b5',
'Product':"bottle",
'Name':"Flipkart Customer",
'Rating':"5",
'CommentHead':"Simply awesome",
'Comment':"good product"},
             
{'_id':'5dfce556e62bedc59e5a69b6',
'Product':"bottle",
'Name':"prathima balraj",
'Rating':"4",
'CommentHead':"Pretty good",
'Comment':"nice"
} ] 

with open('test2.json','w') as json_file:
    json.dump(my_details, json_file)

In [2]:
import pandas as pd
with open('test2.json') as json_file:
    df = json.load(json_file)
    
df = pd.json_normalize(df)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'test2.json'

In [ ]:
df.to_csv('simple.csv', index=False)

### one nested array

In [3]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize 
with open('checking.json') as json_file:
    data = json.load(json_file)
    
df = pd.json_normalize(data['programs'])
df.head()

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37
3,1842-43,New York Philharmonic,"[{'Date': '1843-04-22T05:00:00Z', 'eventType':...",5887,"[{'workTitle': 'SYMPHONY NO. 2 IN D MAJOR, OP....",34ec2c2b-3297-4716-9831-b538310462b7
4,1843-44,New York Philharmonic,"[{'Date': '1843-11-18T05:00:00Z', 'eventType':...",305,"[{'workTitle': 'SYMPHONY NO. 7 IN A MAJOR, OP....",610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

In [ ]:
df.to_csv('moderate.csv', index=False)

### Deeply nested json data

In [4]:
soloist_data = pd.json_normalize(data=data['programs'], record_path=['works', 'soloists'], 
                              meta=['id'])
soloist_data.head(3)

,soloistName,soloistRoles,soloistInstrument,id
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002

In [5]:
soloist_data.to_csv('deeply.csv', index=False)